button {
	width:200px;
	height:100px;
}

button:hover {
	background-color:red;
}

button:active {
	font-size:20px;
}

p::first-letter {
	background-color: red;
	font-size:50px;
	color:white;
}

p::selection {
	background-color:blue;
	color:yellow;
}

.rounded {
	border: 2px solid black;
	border-radius: 6px;
}

.shadow {
	border: 2px solid black;
	box-shadow: 3px 3px blue;
}

.text-shadow {
	text-shadow: 2px 2px red;
}